<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Sobre
    </title>
    <link rel="stylesheet" href="../css/estilo.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <header>
            <nav class="navbar navbar-expand-lg bg-dark py-3">
                <div class="container-fluid">
                    <a class="navbar-brand" href="../index.html">IngressosFut</a>
                    <button class="navbar-toggler btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="../index.html">Início</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="cadastrar_jogos.html">Cadastrar Jogos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="comprar_ingressos.html">Comprar Ingressos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="sobre.html">Sobre</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
    </header>

    <main class="flex-grow-1">
        <section>
            <div class="container container-sobre">
                <h2>Quem somos: IngressosFut</h2>
                <p>IngressosFut é uma empresa fictícia criada com o foco em simplificar a experiência de compra de ingressos para jogos de futebol.
                Este projeto foi desenvolvido para a disciplina Desenvolvimento Web, com o objetivo de ser uma página web funcional e interativa que simula um sistema real de venda de bilhetes online.
                </p>
                <h3>
                Nossa missão
                </h3>
                <p>
                Nossa missão é conectar torcedores aos seus times e jogos favoritos de forma rápida, segura e transparente. Queremos eliminar a burocracia e as longas filas, garantindo que o seu foco seja apenas em curtir a partida.
                </p>
                <h3>
                    Visão e funcionalidades do site
                </h3>
                <p>
                    O site IngressosFut simula as funcionalidades essenciais de uma plataforma moderna de e-commerce de ingressos, incluindo:
                    Visualização e Filtragem de uma lista de jogos disponíveis.
                    Detalhes de cada partida (local, horário e informações).
                    Um sistema de compra simulado para demonstrar o fluxo de transação.
                    Recursos de interatividade via JavaScript, como contadores regressivos para os jogos e um sistema de favoritos.
                </p>
                <h3>
                    Tecnologias utilizadas
                </h3>
                <p>
                    Este projeto acadêmico foi construído utilizando as seguintes tecnologias front-end para garantir um design responsivo e uma experiência de usuário agradável:
                    HTML5 para estruturação semântica.
                    CSS3 com Bootstrap 5 para estilização e responsividade do layout.
                    JavaScript puro para a lógica de filtragem, ordenação, e interações dinâmicas (como os contadores e a lista de jogos).
                </p>
                <h3>

                </h3>
            </div>
        </section>
    </main>

</body>
</html>